h1{
    text-align: center;
    font-size:30px;
    }
hr{
      height: 5px;
      width: 100px;
      background-color: brown;
}
h2{
    text-align: center;
}
div{
    text-align: center;
    margin-left: 70px;
}
i,p{
 font-size: 20px;
}

.label{
    margin-left: 70px;
}
button{
    background-color: red;
}
