body{
background-color: aqua;
}
h1{
    text-align: center;
}
div{
    background-color: aliceblue;
    margin: 20px;
    height:320px;
    width:290px;
    text-align: center;
    margin-left: 80px;
}
i{
    margin-top: 80px;
    font-size: 100px;
    text-align: center;
}
hr{
      height: 5px;
      width: 100px;
      background-color:black
}
