body{
    background-color: green;
}
h1{
    color: white;
    text-align: center;
}

#line{
    font-style: italic;
    color: white;
    text-align: center;
}
div{
    background-color: white;
    height: 250px;
    width: 350px;
    margin-left: 10px;
    margin-top: 10px;
    text-align: center;
}
i{
   font-size: 40px;
   text-align:center;
   margin-top: 30px;
}
#para{
    width: 300px;
    margin: auto;
}