body{
    background-color:blueviolet
}
h2{
    color: azure;
    text-align: center;
}
div{
    height: 370px;
    width:350px;
    background-color:white;
    text-align: center;
    margin-left: 20px;
    

}
.img1{
    border-radius: 100px;
    border: 2px solid blueviolet;
    margin-top: 30px;
    
}
h3{
    color:blueviolet;
}
.bgcolor{
    height: 30px;
    width: 80px;
    background-color: blueviolet;
}
button{
    border:2px solid blueviolet;
    margin-right:20px ;

}
h1{
    font-size: 35px;
    
    color:white;
    text-align: center;
}

