<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>ELEMENT</title>
        <link rel="stylesheet" type="text/css" href="./css/style.css">
    </head>
    <body>
        <h1>Element selector</h1>
        <ul>
            <li> A Type Selector (sometimes referred to as an Element Type Selector) matches elements with the corresponding element node name, such as p, span , and div tags.</li><li>Type selectors are generally used to make “broad stroke” changes to the style of a site.</li>
        </ul>
        <pre>
            p {
                text-align: center;
                color: red;
              }
        </pre>
        <figure id="photo">
        <a href="https://i.ytimg.com/vi/AG9fUJEguRc/maxresdefault.jpg" target="_blank">
            <img src="https://i.ytimg.com/vi/AG9fUJEguRc/maxresdefault.jpg" alt="no image" height="600" width="600">
        </figure>
 </body>
</html>