<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>GROUPING</title>
        <link rel="stylesheet" type="text/css" href="./css/style.css">
    </head>
    <body>
        <h1 >Grouping Selector</h1>
         <ul>
            <li>The CSS grouping selector is used to select multiple elements and style them together.</li>
            <li>This reduces the code and extra effort to declare common styles for each element.</li>
            <li>To group selectors, each selector is separated by a space.</li>
            <pre>
            <li><b>Syntax:</b>
                       The syntax for CSS grouping selector is as follows −
                       element, element {
                        /*declarations*/
                     }
            </li>
        </ul>
            <figure id="photo">
              <a href="https://www.wikitechy.com/css/img/css/css-group-selector.png" target="_blank">
                <img src="https://www.wikitechy.com/css/img/css/css-group-selector.png" alt="no image" height="600px" width="600px">
              </a>
            </figure>

    </body>
</html>