<DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>DOCUMENT</title>
        <link rel="stylesheet" type="text/css" href="./css/style.css">
    </head>
    <body>
        <h1>CSS:SELECTORS</h1>
        <nav>
            <ul>
                <li><a href="http://127.0.0.1:5500/Universal.html" target="_blank">Universal selector</a></li>
                <li><a href="http://127.0.0.1:5500/Element.html" target="_blank">Element type Selector</li>
                <li><a href="http://127.0.0.1:5500/Grouping.html" target="_blank">Grouping Selector</a></li>
                <li><a href="http://127.0.0.1:5500/ID.html" target="_blank">ID selector</a></li>
                <li><a href="http://127.0.0.1:5500/Class.html" target="_blank">Class Selector</a></li>
            </ul>
         </nav><hr>
    <header>
        <h1>CSS-Cascading Style Sheets</h1>
     </header>
            <ul>
                <li>
                    <p>Cascading Style Sheets (CSS) is a language used to illustrate a document’s look, style, and format in any markup language. In simple words, it is used to style and organize the layout of Web pages. CSS3 is the latest version of an earlier CSS version, CSS2.</p>
                </li>
                <li>
                    <p>It is used with HTML to create and format content structure. It is responsible for colors, font properties, text alignments, background images, graphics, tables, etc. Various elements are positioned using fixed, absolute, and relative values.</p>
                <li>
                     <p>To make the code work, we still need to apply this CSS (above) to your HTML document. Otherwise, the styling won't change the appearance of the HTML.</p>
                </li>
            </ul><hr>
     <center><table>
            <tr>
                <td>
                    <a href="https://www.w3docs.com/uploads/media/default/0001/05/6d07a36ebe6d55273b39440f2391f1d7e6d4092a.png" target=""_blank"><img src="https://www.w3docs.com/uploads/media/default/0001/05/6d07a36ebe6d55273b39440f2391f1d7e6d4092a.png" alt="no image" height="70px" width="70px"></a>
                </td>
                <td>
                    <a href="https://miro.medium.com/v2/resize:fit:792/1*lJ32Bl-lHWmNMUSiSq17gQ.png" target="_blank"><img src="https://miro.medium.com/v2/resize:fit:792/1*lJ32Bl-lHWmNMUSiSq17gQ.png" alt="no image" height="70px" width="70"></a>
                </td>
                <td>
                    <a href="https://res.cloudinary.com/cloudinary-marketing/images/w_1540,h_847/f_auto,q_auto/v1649718594/Web_Assets/blog/working_with_css_22218720ab/working_with_css_22218720ab-jpg?_i=AA" target="_blank"><img src="https://res.cloudinary.com/cloudinary-marketing/images/w_1540,h_847/f_auto,q_auto/v1649718594/Web_Assets/blog/working_with_css_22218720ab/working_with_css_22218720ab-jpg?_i=AA" alt="no image" height="70px" width="70px"></a>
                </td>
                <td>
                    <a href="https://developer.mozilla.org/en-US/docs/Learn/Getting_started_with_the_web/CSS_basics/css-declaration-small.png" target="_blank"><img src="https://developer.mozilla.org/en-US/docs/Learn/Getting_started_with_the_web/CSS_basics/css-declaration-small.png" alt="no image" height="70px" width="70px"></a>
                </td>
                </td>
            </tr>
    </table></center><hr>
        <header>
                <h1>Why We Learn Css</h1>
      </header>
            <ul>
                <li>Stying is a essential property for any website.It increases the standars and over all look of the website that makes it easier for the user to intract with it.</li>
            </ul><hr>
     <header>
                <h1>Advantages of Css</h1>
     </header>
            <ul>
                  <li>CSS3 provides a consistent and precise positioning of navigable elements.</li>
                  <li> It is easy to customize a web page as it can be done by merely altering a modular file.</li>
                  <li> Graphics are more accessible in CSS3, thus making it easy to make the site appealing.</li>
                  <li> It permits online videos to be seen without using third-party plugins.</li>
                  <li> CSS3 is economical and time-saving, and most browsers support it.</li>
            </ul><hr>
     <header>
         <h1>Types of Css</h1>
     </header>
              <details>
                 <summary>Types</summary>
              <ul>
                <p><li><h3>Inline Css</h3></li></p>
                <p> Inline CSS contains the CSS property in the body section attached to the element is known as inline CSS. This kind of style is specified within an HTML tag using the style attribute.</p>
                <p><li><h3>Internal or Embedded Css</h3></li></p>
                <p>This can be used when a single HTML document must be styled uniquely. The CSS rule set should be within the HTML file in the head section i.e. the CSS is embedded within the style tag inside the head section of the HTML file.</p>
                <p><li><h3>External Css</h3></li></p>
                <p>External CSS contains separate CSS files that contain only style properties with the help of tag attributes (For example class, id, heading, … etc). CSS property is written in a separate file with a .css extension and should be linked to the HTML document using a link tag. It means that, for each element, style can be set only once and will be applied across web pages.</p>
               </ul>
               </details>
            </table><hr>
            <center> <table border="px">
                <h1>Diffrence Between Html5 and Css3</h1>
                <tr>
                    <th>S.NO</th><th>HTML5</th><th>CSS3</th>
                </tr>
                <tr>
                    <td>1</td><td>HTML is a markup language used to define a structure of a web page.</td><td>CSS is a style sheet language used to style the web pages by using different styling features.</td>
                </tr>
                <tr>
                    <td>2</td><td>It consists of tags inside which text is enclosed.</td><td>It consists of selectors and declaration blocks.</td>
                </tr>
                <tr>
                    <td>3</td><td>HTML doesn’t have further types.</td><td>CSS can be internal or external depending upon the requirement.</td>
                </tr>
                <tr>
                    <td>4</td> <td>We cannot use HTML inside a CSS sheet.</td> <td>We can use CSS inside an HTML document.</td>
                </tr>
                <tr>
                    <td>5</td><td>HTML is not used for presentation and visualization.</td><td>CSS is used for presentation and visualization.</td>
                </tr>
            </table></center><hr>
            </body>
            </html>
            

            

            

         
        