body{
    background-color: aqua;
    color:black
    font-size: 50;
}
 h1{
    color: blue;
    text-align: center;
 }
 table{
    color: brown;
    background-color: aquamarine;
    text-align: center;
    
    }
 th{
   
    color: black;
    text-align: center;
 }
 td{
    color: blueviolet;
    text-align: center;
 }
 #photo{
   text-align: center;
 } 

 

 
