ul{
    list-style-type: none;
}
ul li:nth-child(odd){
    background-color:blueviolet
}
ul li:nth-child(even){
    background-color: bisque;
}
h6{
    text-align: center;
    
}
i{
    color:palevioletred;
}